<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de URL</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Encurtador de URL</h1>
        <form action="/api/url/shorten" method="post">
            <input type="text" name="url" placeholder="Digite a URL..." required>
            <button type="submit">Encurtar</button>
        </form>
    </div>
</body>
</html>
